@import 'globals.scss';
@import 'flexgrid.scss';


$colors: (
  White: hsl(0,100%,100%),
  black: hsl(100,0%,0%),
  Soft red: hsl(345, 95%, 68%),
  Grayish blue: hsl(237, 18%, 59%),
  Dark desaturated blue: hsl(236, 21%, 26%),
);

$fallback-colors: (
   Snow, black, IndianRed,LightSteelBlue, DarkSlateBlue
);

@mixin background($url,$position:auto,$size:auto,$repeat:no-repeat,$fixed:fixed,$color:white){
    background: url($url) $position/$size $repeat $fixed $color; 
}
@mixin font-color($color, $fallback-color) {
  color: $fallback-color;
  color: $color;
}

@mixin bg-color($color, $fallback-color) {
  background-color: $fallback-color;
  background-color: $color;
}
@mixin margin($args...) {
  margin: $args;
}
@mixin padding($args...) {
  padding: $args;
}

*,
::before,
::after {
  box-sizing: border-box;
}


html,
body {
  font: {
     size: 1em;
     weight: 400;
	   family: "./fonts/redhattext.ttf", serif;
  }
  
}
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 0.0625em;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 0.0625em;
}
.btn{
    width: 12.5em;
    height: 2.5em;
    padding: 0.3125em;
    background-color: #fff;
}
.white-font{
  @include font-color(map-get($colors,White),nth($fallback-colors,1));
}
.grayish-blue-font{
  @include font-color(map-get($colors,Grayish blue),nth($fallback-colors,4));
}
.text-center{
    text-align:center;
}
.text-uppercase{
    text-transform: uppercase;
}
.letter-spacing2{
   letter-spacing: 0.2em;
}

//image/svg classes
.svg-hills-outer{
    max-width: 100%;
    max-height: 100%;
}
.svg-100{
    width:100%;
    height:100%;
}

.top-z-index{
  //needed for z-index.
  position: relative;
  z-index: 1;
  opacity:1;
}

//the black dot that's mimimicking a folded in half card
.circle{
    display: inline-block;
    height: 1.5625em;
    width: 1.5625em;
    border-radius: 50%;
    background-color: hsl(234, 17%, 12%);
    position:relative;
}
.move-right{
    left: 1em;
}
.move-left{
    right:3em;
    @media screen and(max-width:45em){
        right:2.5em;
     }
}

@media (scripting: enabled) {
      .background{
          background: hsl(235, 16%, 14%) url(./images/bg-stars.svg) top left/100% 100%;
      }
      .red-thick-font{
          @include font-color(map-get($colors,Soft red),nth($fallback-colors,3));
          font-weight: 600;
          font-size: 4.5em;
          @media screen and(min-width:48em){
              font-size:5.6em;
          }
      }
      h1{
         position:relative;
         top: 1em;
      }
      p{
         position:relative;
         bottom: -5em;
       }

      

      .flipIn {
          box-shadow:3px 30px hsl(236, 21%, 26%);
          background-image:linear-gradient( to bottom, hsl(240, 14%, 7%), hsl(236, 21%, 26%));
          color:#2F2439;
          width: 100%;
          text-align:center;
          animation:flipIn 0.5s ease-in;
          p{
             top: 1.0625em;
          }
      }
      @media (prefers-reduced-motion: reduce) {
          .flipIn{
               animation:flipIn 0.5s ease-in-out;
          }
      }
      .flipOut{
          border-top:none;
          animation: flipOut 0.5s ease-out;
      }
       @media (prefers-reduced-motion: reduce) {
          .flipOut{
              animation : flipIn 0.5s ease-in-out;
          }
       }


      @keyframes flipIn {
        0% {
          transform: rotateX(0deg);
        }
        100% {
          transform: rotateX(180deg);
        }
      }
      @keyframes flipOut{
        0%{
            transform: rotateX(-180deg);
        }
        100%{
            transform: rotate(0deg);
        }
    }
      .screen{
            border: 0.0625em solid black;
            padding: 0 0.5em;
            min-width: 1em;
            border-radius: 0.9375em;
            background-color: white;
            background-image:linear-gradient( to bottom, hsl(234, 17%, 12%), hsl(236, 21%, 26%));
            
            &:after{
              content:'';
              border-bottom: 0.1875em solid hsl(234, 17%, 12%);
              transform: translateY(-18em);               
              width: 100%;
              z-index:99;
              @media screen and(min-width: 48em){
                 transform: translateY(-16.5em);
              }
            }
            @media screen and(min-width:48em){
               height:8em;
            }
            @media screen and(max-width: 48em){
               font-size: 0.8em;
               span{
                  position:relative;
                  top: 0.4em;
               }
            }
            @media screen and(max-width:45em){
               font-size: 0.6em;
            }
      }
      
      main{
          height: 95vh;
          overflow:hidden;
          
            
          section{
              padding: 7em 2em;
              p{
                 font-size:1.2em;
              }
          }
      
      }
      .hills{
          position:relative;
          top: calc(100% - 43.9375em);
      }  
      ul {
        list-style-type: none;
      }
      .ul-nav{
          position:relative;
          top:2em;
          svg:hover path{
             fill:map-get($colors,Soft red);
          }
          @media screen and(min-width: 48em){
               top: 6em;
          }
      }
      .background-color-add-height{
          position:relative;
          top:-0.25em;
          width: 100vw;
          height:43.75em;
          background-color: #2F2439;
      }
     
      footer{
              
        position:relative;
        top: 10em;
          
        @media screen and(min-width:48em){
            @include padding(4em);
            font-size:1.2em;
        }
      }
     
}
@media (scripting: none) {
  
  /* fallback styles when JS is not supported */
  /*leave carousel collapsed but add some styling */

}